body{
    background: lightblue;
}
.paragraph-align{
    margin-top: 5vh;
    text-align: center;
}

#main-picture{
 display: none;
}

#menu-title{
       font-family: 'Dancing Script', cursive;
       font-size: 3em;
}

#menu-description p {
    font-family: 'Dancing Script', cursive;
    color: green;
    font-size: 2em;
}

@media screen and (min-width: 992px){

#menu-photo{
    margin-top: 20px;
}

#main-picture {
    border: 3px solid #ffffff;
    border-radius: 50%;
    background: linear-gradient(54deg, purple,brown);
    box-shadow: 0 0 45px 5px;
    display: block;
    margin: 0 auto;
    width: 30vw;
}

}