body {
    background: antiquewhite;
}

.about-me-bg-img {
    box-shadow: 0 0 30px 5px;
    width: 90vw;
    max-width: 400px;
    margin: 3vh auto 0 auto;
    border-radius: 15%;
    border-bottom: 50px solid white;
}

#img-layer{
    display: flex;
    flex-direction: column;
    position: relative;
}
.overlay img{
    display: none;
}
.overlay h3 {
    position: relative;
    color: black;
    text-align: center;
    font-size: 2rem;
    top: -45px;
}

.about-me-hearth-icon{
   width: 30vw;

}

#about-me-expansion{
    text-align: center;
    margin: 3vh 0;
    background: white;
    box-shadow: 0 0 15px 1px;
    font-size: 3vh;
}

#about-me-expansion h2{
    border-bottom: 2px solid;
    padding: 14px 0;
}

#about-me-layer{
    padding: 3vh 5vw;
}
 
@media screen and (min-width: 992px){

    #img-layer {
    flex-direction: row;
    }

    .about-me-bg-img{
    width: 20vw;
    margin: 7vh auto;
    }

    #img-layer{
    display: flex;
}

.about-me-hearth-icon {
    width: 10vw;
}

.overlay{
    opacity: 0;
    position: absolute;
    top: 35%;
    transition: all 1.5s;
}
.overlay:hover{
    opacity: 1;
    transition: all 1.5s;
}
.overlay img{
    display: block;
}
.overlay h3 {
    color: white;
    text-align: center;
    top: 0px;
    font-size: 2.8vh;
}
.about-me-bg-img {
    border-bottom: 0px solid;    
}
#first-stat {
    margin-left: 7.5vw;
}

#second-stat {
    margin-left: 32.5vw;
}

#third-stat {
    margin-left: 57.5vw;
}

#forth-stat {
    margin-left: 82.5vw;
}

}
@media screen and (max-height: 850px){
    .about-me-bg-img {
    box-shadow: 0 10px 30px 5px;
    }
}